.token-wrapper {
  background-color: #fff;

  .token-header {
    padding: 10px 18px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .token-table {
    padding: 0 20px;
  }
}
